
  /* Tourist attaraction */
.bg-image-ta-1 {
  background-image: url('assets/tourist_places/fateh_sagar.jpg'); /* Change to your image */
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-image-ta-2 {
  background-image: url('assets/tourist_places/pichola_lake.jpg'); /* Change to your image */
    height: 270px;
    background-size: cover;
  background-repeat: no-repeat;
}
.bg-image-ta-3 {
    background-image: url('assets/tourist_places/savariya1.png'); /* Change to your image */
     height: 300px;
     background-size: cover;
    background-repeat: no-repeat;
 }

.bg-image-ta-4 {
    background-image: url('assets/tourist_places/cable_car.jpg'); /* Change to your image */
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

.bg-image-ta-5 {
  background-image: url('assets/tourist_places/saheliyo_badi.jpg'); /* Change to your image */
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-image-ta-6 {
  background-image: url('assets/tourist_places/Sajjangarhg_palace.jpg'); /* Change to your image */
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-ta-7 {
  background-image: url('assets/tourist_places/badi_lake.jpg'); /* Change to your image */
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-image-ta-8 {
  background-image: url('assets/tourist_places/city_palace.jpg'); /* Change to your image */
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-image-ta-9 {
  background-image: url('assets/tourist_places/Bagore-ki-Haveli.jpg'); /* Change to your image */
  height:310px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-form-background{
  background-image: url('assets/contact/camel1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.bg-rental-1{
  background-image: url('assets/rental/2-wheeler.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}
.bg-rental-2{
  background-image: url('assets/rental/swift.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}

.bg-rental-3{
  background-image: url('assets/rental/innova.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}
.bg-rental-4{
  background-image: url('assets/rental/fortuner.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}

.bg-rental-5{
  background-image: url('assets/rental/innova.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}

.rentan-card-height{
  height: 350px;
}


.moving-text-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.hotel-image-1{
  background-image: url('assets/hotel/hotel_1.png'); /* Change to your image */
  background-size: cover;
  background-repeat: no-repeat;
}
.hotel-image-2{
  background-image: url('assets/hotel/hotel_2.png'); /* Change to your image */
  background-size: cover;
  background-repeat: no-repeat;
}
.testimonial-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.testimonial-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial {
  flex: 0 0 50%; /* Each testimonial takes half of the container width (2 per row) */
  padding: 10px;
}


.carousel-item img {
    width:700px;
    height: 700px;
  
}

.image-container {
  overflow: hidden;
}

.image-container img {
  border-radius: 50%;
}

.circular-div {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 100%;
  margin-top: -65px;
  margin-left: -30px;
  overflow: hidden;
  align-items: center;
  position: relative;
  transform:rotate(-10deg)
}



